@font-face {
  font-family: LobsterTwo;
  src: url("./assets/Lobster_Two/LobsterTwo-Regular.ttf") format("opentype");
}

:root {
  --main-white: rgb(224, 224, 224);
  --bright-white: rgb(244, 244, 244);
  --main-dark: #433d57;
  --orange: #ff8e2c;
  --orange2: #ffd1a2;
  --blue: rgb(102, 131, 197);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.4;
  font-family: sans-serif;
  font-size: 18px;
  color: var(--main-white);
  letter-spacing: 0.8px;
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, #855da5, #d77a9e, #5bb6d5, #392d97);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

main p {
  display: inline-block;
  margin-bottom: 10px;
  text-shadow: 0px 0px 5px var(--main-dark);

}

a {
  color: var(--bright-white);
  text-decoration: none;
  display: inline-block;
}

a:hover {
  color: var(--orange)
}

small {
  font-size: 10px;
}

br {
  display: block;
  content: "";
  margin-top: 10px;
}

hr {
  width: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

h1,
h2 {
  font-family: LobsterTwo;
  color: var(--bright-white);
}

h2,
h3,
h4 {
  text-shadow: 0px 0px 5px var(--main-dark);
}

h3 {
  color: var(--orange2);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 20px 0px 20px;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  margin-bottom: 50px;
}

#title {
  text-shadow: 0px 0px 15px var(--main-dark);
  margin-right: 60px;
}

nav a {
  margin-right: 20px;
  text-decoration: underline;
  color: var(--bright-white);
}

main {
  margin-bottom: 50px;
  max-width: 1000px;
}

#tagline {
  text-align: center;
  color: var(--orange2);
  font-style: italic;
  font-weight: lighter;
  text-shadow: 0px 0px 10px var(--main-dark);
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #49425e3a;
  border-radius: 30px;
  padding: 10px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 10px;
  min-height: 80px;
  margin-top: auto;
  background-color: var(--main-dark);
}

footer * {
  max-width: 1000px;
  text-align: center;
}

button {
  background-color: var(--blue);
  color: var(--bright-white);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.about p {
  text-align: center;
  max-width: 400px;
}

.about-img {
  width: 300px;
  margin: 20px;
  border-radius: 30px;
  box-shadow: 2px 2px 10px var(--main-dark);
}

.contact-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-item img {
  margin-right: 10px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

figure {
  width: fit-content;
  background-color: #49425e3a;
  border-radius: 30px;
  padding: 20px;
  margin-bottom: 20px;
  font: inherit;
}

.audio-player {
  font: inherit;
  position: relative;
  width: 300px;
}

.progress-bar {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: var(--bright-white);
  margin-top: 10px;
  border-radius: 30px;
  /* cursor: pointer; */
}

.progress {
  position: absolute;
  height: 100%;
  border-radius: 30px;
  background-color: var(--orange);
}

